.distribution-card-container {
    transition-duration: 300ms;
    width: 580px;
    height: 310px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.distribution-card-container:hover {
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.distribution-card {
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background-color: #151515;
}

.distribution-card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
}

.title-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.distribution-card-time {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 40px;
    background: #232323;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.time-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #BFAB64;
}

.distribution-card-info {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 40px;
}

.info-text {
    width: 245px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3C3C3C;
}

.distribution-card-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
    border: 2px solid #232323;
    box-sizing: border-box;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: #FFFFFF;
}

.button-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.distribution-card-more {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 40px;
}

.more-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #3C3C3C;
}